body{
	margin: 0px;
	font-family: 'Roboto', sans-serif;
	background-color: rgb(66, 176, 244);
}
.main{
	background-color: rgba(255, 255, 255,.6);
	height: 94%;
	width: 94%;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translateX(-50%) translateY(-50%);
}
#header{
	width: 100%;
}
#lead{
	position: fixed;
	top: 1%;
	right: 1%;
	border: none;
	background-color: rgba(255, 255, 255,.0);
	font-size: 30px;
	font-weight: bold;
}
#lead:hover{
	border-bottom: 2px solid; 
}
a{
	text-decoration: none;
	color: rgba(0,0,0,.8);
	font-size: 5vw;
	font-weight: bold;
	padding: 0px 8px;

}
.content{
	position: absolute;
	top: 40%;
	left: 50%;
	transform: translateY(-50%) translateX(-50%);
	text-align: center;
	font-size: 20vw;
	font-family: 'Titillium Web', sans-serif;	
	margin: 0px;
	text-shadow: 5px 5px 5px rgba(166, 166, 166,.75);
	padding: 0px;
}
#play_a{
	background: none;
	padding: 0px;
}
#play{
	background-color: rgb(46, 184, 46);
	border: none;
	border-radius: 5vw;
	color: white;
	font-size: 4vw;
	padding: 5px 50px;
	box-shadow: 5px 5px 5px rgba(166, 166, 166,.75);
	cursor: pointer;
}
#now{
	position: absolute;
	top: 40%;
	left: 50%;
	transform: translateX(-50%);
}